<div class="container" style="margin-top: 40px">
    <div style="text-align: center">
        <h3> @TempData["SuccessMessage"]</h3>
        <h3> @TempData["ErrorMessage"]</h3>
    </div>
    <div style="text-align: center">
        <h1>Welcome to Hockey Game Mania</h1>
    </div>
    <div class="container" style="text-align:center">
        <a class="btn btn-primary" href="/User/GameSignup">Signup for Upcoming Game</a>
        <a class="btn btn-primary" href="/User/NotificationEmail">New Game Notification Email</a>
    </div>
</div>